.table {
    width: 70%;
    margin: 90px auto;
    .label-category {
        margin-bottom: 15px;
        font-size: 25px;
        height: 60px;
        line-height: 60px;
        font-weight: bold;
    }
    .add-category {
        height: 40px;
        width: 140px;
        margin-bottom: 15px;
        font-size: 15px;
        border-radius: 5px;
        border: none;
        background: #2365ff;
        color: #fff;
        cursor: pointer;
    }
    table {
        width: 100%;
        .header {
            th {
                border-bottom: 2px solid #333;
                text-align: start;
                padding-left: 20px;
            }
        }
        .data {
            td {
                padding-left: 20px;
                height: 200px;
                img {
                    width: 120px;
                    height: 150px;
                }
                .btn {
                    width: 100px;
                    height: 25px;
                    font-size: 15px;
                    margin: 0 10px;
                    cursor: pointer;
                }
                .btn-update {
                    background-color: #00ffa6;
                }
                .btn-delete {
                    background-color: #ff4949;
                    color: #fff;
                }
            }
        }
    }
}