
.add-member-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(#333, 0.7);
    box-sizing: border-box;
    .add-member {
        width: 480px;
        height: 630px;
        margin: 60px auto;
        border-radius: 5px;
        overflow: hidden;
        background-color: #f1f2f6;
        .banner {
            width: 100%;
            height: 80px;
            text-align: center;
            line-height: 80px;
            font-weight: bold;
            font-size: 25px;
        }
        .body {
            width: 100%;
            height: 550px;
            form {
                width: 100%;
                height: 100%;
                .elm {
                    width: 100%;
                    height: 13%;
                    margin: 5px 0;
                    p {
                        width: 80%;
                        height: 30%;
                        font-size:16px;
                        font-weight: bold;
                        margin: 0 auto;
                        color: rgb(118, 118, 118);
                    }

                    p.error-message {
                        height: 15%;
                        font-size: 13px;
                        color: red;
                        margin-top: 4px;
                        padding-left: 2px;
                    }

                    input {
                        width: 75%;
                        height: 45%;
                        display: block;
                        padding: 0 10px;
                        position: relative;
                        border-radius: 5px;
                        border: 1px solid #b6b6b6;
                        margin: 0 auto;
                    }
                }

                .elm-col {
                    display: flex;
                    justify-content: center;
                    width: 75%;
                    margin: 0 auto;
                    .col {
                        width: 50%;
                        p{
                            margin: 0;
                        }
                        input {
                            width: 90%;
                            box-sizing: border-box;
                        }
                    }
                    .btn {
                        width: 150px;
                        height: 35px;
                        cursor: pointer;
                        border: none;
                        margin: 15px 5px;
                        background-color: #23b6ff;
                        font-weight: bold;
                        transition: .25s;
                        color: white;
                        font-family: 17px;
                    }
                    .btn:hover {
                        background-color: #ff6b81;
                    }
                }
            }
        }
    }
}